.App {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 10vh;
  font-family: 'Courier New', Courier, monospace;
  padding: 2rem;
  background-color: #E0C9A6;
}
.App h1 {
  font-size: 3rem;
  font-size: bold;
  text-transform: uppercase;
}